[Desktop Entry]
Name=ankalyneJaguar
Comment=Mac OS X 10.2 window decorations

X-KDE-PluginInfo-Author=anka!
X-KDE-PluginInfo-Website=twitter.com/valkalyne
X-KDE-PluginInfo-Name=ankalyneJaguar
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL3
